body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #ff6c32;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.buttons button,
a {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    background-color: #ff6c32;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    text-decoration: none;
}

.buttons button:hover {
    background-color: #ff6c32;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

th,
td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #ff6c32;
    border: none;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}

.actions button {
    padding: 6px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.actions button:hover {
    background-color: #c1552a;
}

.buttons,
.actions {
    text-align: center;
}

.actions button {
    background-color: #ff6c32;
}

.actions button:hover {
    background-color: #c1552a;
}

#theme-toggle {
    text-decoration: none;
    background-color: #414141;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    padding: 5px 1px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#moon-icon,
#sun-icon {
    font-size: 20px;
}

body.dark-mode {
    background-color: rgb(14, 14, 14);
}

body.dark-mode input {
    background-color: rgb(14, 14, 14);
    color: white;
}

body.dark-mode .form-container {
    background-color: rgb(41, 41, 41);
    color: white;
}

body.dark-mode td {
    background-color: rgb(41, 41, 41);
    color: white;
    border: none;
}

body.dark-mode input[type="date"]::-webkit-calendar-picker-indicator {
    filter: brightness(0) invert(1);
}